

.AboutUsContainer{
    background-color: #262D37;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 4rem;
    padding-inline: 4vh !important;
}
.test{
    background-color: blue;
}
.AboutUsHeader{
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    color: #fff;
    padding-inline-end: 60VH;
    margin-top: 100px;
    margin-bottom: 180px;
}
.AboutUsHtext{
    font-size: 8.5rem;
    margin: 0;
    z-index: 1;

}


.PADDINGwORDS{
    /* padding-right: 80vh; */
}
.AboutUsHCtext{
    font-size: 8vh !important;
    margin: 0;
    margin-bottom: 5vh !important;
    z-index: 1;
    margin-top: 10vh !important;
}
.HParagraph{
    font-size: 1.2rem;
    z-index: 1;
    background: -webkit-linear-gradient(left ,#eee, #FFB7DC);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    
}
.AboutUsHeaderBtn{
    background-color: #FFB7DC;
    color: #262D37;
    font-weight: bold;
    border-width: 0;
    border-radius: 6px;
    padding-inline: 20px;
    padding-block: 7px;
    margin-top: 30px;
    z-index: 1;
}
.AboutUsHeaderBtn:hover{
    background-color: #262D37;
    color: #FFB7DC;
    font-weight: bold;
    cursor: pointer;
}
    .shapeEffect{
        background: linear-gradient(#FFB7DC, #6645F8, #6645F8);
        width: 20vh;
        height: 240vh;
        position: absolute;
        z-index: 0;
        rotate: 25deg;
        top: -100px;
        left: 100px;
    }
    .shapeEffect2{
        background: linear-gradient(#FFB7DC, #6645F8, #6645F8);
        width: 20vh;
        height: 240vh;
        position: absolute;
        z-index: 0;
        rotate: -25deg;
        top: -100px;
        left: 900px;
    }
    .shapeCont{
        background-color: #000000aa;
        width: 500px;
        height: 500px;
        position: absolute;
        z-index: 0;
        top: 15%;
    }

/* @media screen and (min-width: 1000px) {

  } */
@media screen and (max-width:1220px) {
   /* .shapeEffect{
        display: none;
    } */
    /* .shapeEffect2{
        display: none;

    } */
    .shapeCont{
        width: 450px;
        height: 450px;

    }
    .AboutUsHeader{
        margin: 10px !important;
        
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin-top: 100px;
        margin-bottom: 180px;
    }
    .AboutUsHtext{
        font-size: 7rem;

    
    }
    .AboutUsHCtext{
        font-size: 3rem;

    
    }
}
@media screen and (max-width:1220px) {
    .shapeEffect{
         display: none;
     }
      .shapeEffect2{
        width: 150px;
        height: 1570px;
        top: -300px;
        left: 20px;
        rotate: -15deg;
     } 
      .shapeCont{
        width: 420px;
        height: 420px;  
        left: 10px;
 
     } 
     .AboutUsHtext{
        font-size: 6rem;

    
    }
    .AboutUsHCtext{
        font-size: 2.5rem;

    
    }
    .AboutUsHeader{

        padding-inline-end: 0VH;
        padding-block: 20vh;
    }
    
 }


 @media screen and (max-width:350px) {
    .shapeEffect{
         display: none;
     }
      .shapeEffect2{
        display: none;

     } 
      .shapeCont{
         display: none;
 
     } 
    
 }
@media screen and (max-width:450px) {


     .AboutUsHtext{
         font-size: 2.5rem;
 
     
     }
     .shapeEffect2{
        width: 150px;
        height: 1420px;
        top: -300px;
        left: 20px;
        

     } 
     .AboutUsHCtext{
         font-size: 1rem;
     }
     .HParagraph{
        font-size: 0.8rem;

        
    }
    .shapeCont{
        width: 300px;
        height: 300px;  
        left: 10px;
 
     } 
 }



 @media screen and (max-width:450px) {

    .AboutUsHeader{

        padding-inline-end: 0VH;
        padding-block: 5vh;
    }

}


