.NavBg{
    background-color: #000000;
    backdrop-filter: blur(10px);
}
.NavBgDrawer{
    backdrop-filter: blur(10px);
    text-align: center;
}
.logoNav{
    width: 25vh;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

.logoNav:hover{
    cursor: pointer;
    
}

.navbtn{
    font-size: 2vh !important;
}



@media screen and (max-width:1200px) {
    .navbtn{
        font-size: 1.7vh !important;
    }

 }

 @media screen and (max-width:900px) {
    .navbtn{
        font-size: 2vh !important;
    }
    .logoNav{
        width: 10vh;
        margin-top: 1vh;
        margin-bottom: 0.5vh;
    }
 }
